@import url("https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@800&display=swap");

:root{
    --bg-color: #f4f7fb;      
    --card-color: #ffffff;    
    --main-green: hsl(150, 70%, 45%);
    --text-dark: #2c3e50;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
    font-family: "Manrope", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1{
    text-transform: uppercase;
    font-size: 22px;
    color: var(--main-green);
    letter-spacing: 2px;
}

.container{
    background-color: var(--card-color);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
}

.container button{
    background-color: var(--main-green);
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.container p{
    color: var(--text-dark);
    font-size: 20px;
    margin-block: 20px;
}

@media (min-width: 500px){
    .container{
        max-width: 480px;
    }
}